---
swagger: '2.0'
info:
  title: GiantSwarm HTTP API
  version: 0.10.2
host: api.giantswarm.io
schemes:
  - https
basePath: /v1
consumes:
  - application/json
produces:
  - application/json
externalDocs:
  description: Official GiantSwarm documentation.
  url: http://docs.giantswarm.io/
securityDefinitions:
  basicAuth:
    type: basic
    description: HTTP basic authentication. Go to [giantswarm.io](https://www.giantswarm.io/) to create an account.
paths:
  /user/{email}/login:
    post:
      parameters:
        - name: email
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/LoginRequest"
      responses:
        200:
          description: User details and access token
          schema:
            $ref: "#/definitions/LoginResponse"
  /user/me:
    get:
      security:
        - basicAuth: []
      responses:
        200:
          description: User details
          schema:
            $ref: "#/definitions/UserResponse"
  /user/me/memberships:
    get:
      security:
        - basicAuth: []
      responses:
        200:
          description: List of companies you are assigned to
          schema:
            $ref: "#/definitions/MembershipsResponse"
  /user/me/email/update:
    post:
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/UpdateEmailRequest"
      responses:
        200:
          description: Update email confirmation
          schema:
            $ref: "#/definitions/BasicResponse"
  /user/me/email/password:
    post:
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/UpdatePasswordRequest"
      responses:
        200:
          description: Update password confirmation
          schema:
            $ref: "#/definitions/BasicResponse"
  /token/logout:
    post:
      security:
        - basicAuth: []
      responses:
        200:
          description: Logout confirmation
          schema:
            $ref: "#/definitions/LogoutResponse"
  /company:
    post:
      security:
        - basicAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateCompanyRequest"
      responses:
        200:
          description: Creation confirmation
          schema:
            $ref: "#/definitions/BasicResponse"
  /company/{company_name}:
    delete:
      security:
        - basicAuth: []
      parameters:
        - name: company_name
          in: path
          required: true
          type: string
      responses:
        200:
          description: Deletion confirmation
          schema:
            $ref: "#/definitions/BasicResponse"
  /company/{company_name}/members/add:
    post:
      security:
        - basicAuth: []
      parameters:
        - name: company_name
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AddUserToCompanyRequest"
      responses:
        200:
          description: User added confirmation
          schema:
            $ref: "#/definitions/BasicResponse"
  /company/{company_name}/members/remove:
    post:
      security:
        - basicAuth: []
        parameters:
          - name: name
            in: path
            required: true
            type: string
          - name: body
            in: body
            required: true
            schema:
              $ref: "#/definitions/RemoveUserFromCompanyRequest"
        responses:
          200:
            description: User removed confirmation
            schema:
              $ref: "#/definitions/BasicResponse"
  /company/{company_name}/instance/{instance_id}/stats:
    get:
      security:
        - basicAuth: []
      parameters:
        - name: company_name
          in: path
          type: string
          required: true
        - name: instance_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Instance statistics
          schema:
            $ref: "#/definitions/InstanceStatisticsResponse"
  /company/{company_name}/env/{environment_name}/app/{application_name}/start:
    post:
      security:
        - basicAuth: []
      parameters:
        - name: company_name
          in: path
          required: true
          type: string
        - name: environment_name
          in: path
          required: true
          type: string
        - name: application_name
          in: path
          required: true
          type: string
      responses:
        200:
          description:
          schema:
            $ref: "#/definitions/BasicResponse"
  /company/{company_name}/env/{environment_name}/app/{application_name}/stop:
    post:
      security:
        - basicAuth: []
      parameters:
        - name: company_name
          in: path
          required: true
          type: string
        - name: environment_name
          in: path
          required: true
          type: string
        - name: application_name
          in: path
          required: true
          type: string
      responses:
        200:
          description:
          schema:
            $ref: "#/definitions/BasicResponse"
definitions:
  BasicResponse:
    properties:
      status_code:
        type: integer
      status_text:
        type: string
  LoginRequest:
    properties:
      password:
        type: string
        description: Base64 encoded
  LoginResponse:
    properties:
      status_code:
        type: integer
      status_text:
        type: string
      data:
        $ref: "#/definitions/LoginResponseData"
  LoginResponseData:
    properties:
      Id:
        description: Access token
        type: string
      UserId:
        description: User id
        type: string
      Created:
        description: Access token creation date
        type: string
        format: date-time
  UserResponse:
    properties:
      status_code:
        type: integer
      status_text:
        type: string
      data:
        $ref: "#/definitions/UserResponseData"
  UserResponseData:
    propertiesbestätigung:
      email:
        description: Your email address
        type: string
      username:
        description: Your username
        type: string
  MembershipsResponse:
    properties:
      status_code:
        type: integer
      status_text:
        type: string
      data:
        type: array
        items:
          description: Company name
          type: string
  LogoutResponse:
    properties:
      status_code:
        type: integer
      status_text:
        type: string
  CreateCompanyRequest:
    properties:
      company_id:
        type: string
        description: Company name
  AddUserToCompanyRequest:
    properties:
      username:
        type: string
        description: Username
  RemoveUserFromCompanyRequest:
    properties:
      username:
        type: string
        description: Username
  InstanceStatisticsResponse:
    properties:
      status_code:
        type: integer
      status_text:
        type: string
      data:
        $ref: "#/definitions/InstanceStatisticsData"
  InstanceStatisticsData:
    properties:
      ComponentName:
        type: string
        description: Component name
      MemoryUsageMb:
        type: float
        description: Memory usage (MB)
      MemoryCapacityMb:
        type: float
        description: Memory capacity (MB)
      MemoryUsagePercent:
        type: float
        description: Memory usage (%)
      CpuUsagePercent:
        type: float
        description: CPU usage percent
  UpdateEmailRequest:
    properties:
      old_email:
        type: string
        description: Old email address
      new_email:
        type: string
        description: New email address
  UpdatePasswordRequest:
    properties:
      old_password:
        type: string
        description: Old password (Base64 encoded)
      new_password:
        type: string
        description: New password (Base64 encoded)
